/* resets */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* page */
.page-background {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #3e434c;
}

.form {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    background-color: #f1f2f4;
    box-shadow: 0px 1px 3px 0px rgb( 23, 16, 25 );
    padding: 45px;
    border-radius: 4px;
}

.form-title {
    font-size: 36px;
    font-family: "Myriad Pro";
    color: #36383c;
    line-height: .8;
    text-align: center;
    margin-bottom: 45px;
}

.form-input__wrap {
    background-color: #e5e7e9;
    box-shadow: inset 0px 2px 1px 0px rgba( 23, 16, 25, .3 ), 
                0px 2px 0px 0px rgb( 255, 255, 255 );
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 25px;
} 
 
.form-input__group {
    width: 100%;
    height: 80px;
    position: relative;
}

.form-input__group-email {
    background-image: url('img/icon-mail.png');
    background-repeat: no-repeat;
    background-position: 25px 50%;
}

.form-input__group-password {
    background-image: url('img/icon-lock.png');
    background-repeat: no-repeat;
    background-position: 28px 50%;
}

.form-input__type-text {
    width: 100%;
    height: 100%;
    padding-left: 80px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #bec0c2;
    color: #6f7278;
    font-size: 24px;
    font-family: "Myriad Pro";
    line-height: 1.25;
}
  
.form-input__type-button {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 1px;
    border-color: #2a8b7b;
    border-radius: 4px;
    background-image: linear-gradient( #3db19e 0%, #62cfc3 100%);
    box-shadow: 0px 1px 3px 0px rgb( 0, 0, 0 );
    color: #fff;
    font-size: 36px;
    font-family: "Myriad Pro";
    text-shadow: 0px 1px 3px rgb( 23, 16, 25 );
    text-align: center;
    cursor: pointer;
}
  
@media (min-width: 670px) {
    .form {
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        max-width: 450px;
    }
}